body{
  background: linear-gradient(#23A6AD, #033A45); ;
}

.ChampionCards{
  display: flex;
}

.championCard{
  border-radius: 20px;
  float:left;
  background: no-repeat;
  width: 12%;
  height: 300px;
  padding: 3%;
  margin: 1%;
  color: white;
  -webkit-box-shadow : 0 0 10px 5px #2ab42a;
}

.infoChampionCard{
  float:bottom;
  padding: 5%;
}

.infosChampionCard{
  margin-top:80%;
  border-radius: 10px;
  background-color: rgba(218, 218, 218, 0.46);
  backdrop-filter: blur(2px);
}

.basicColor{
  display: flex;
  background-color: rgba(239, 239, 239, 0.26);
  color: white;
  margin: 5%;
  padding: 10%;
  border-radius: 5px;
}

.componentName{
  color: rgba(196, 196, 196, 0.75);
}

.container{
  /*background: linear-gradient(#23A6AD, #033A45);*/
  display: flex;

}

.sub-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
